.git
.gitignore
README.md
.env
.env.*
.vscode
.idea
*.log
.DS_Store
Thumbs.db
node_modules
.pytest_cache
.coverage
coverage
*.egg-info
.venv
venv
__pycache__
.mypy_cache
.eslintcache
.docusaurus
.cache-loader
dist
build
